#contacto h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 200%; }

#contacto .redesSociales {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  text-align: center;
  width: 5%;
  height: 50%; }

#contacto h2 {
  font-family: lato;
  text-align: center;
  font-size: 200%; }

.formulario {
  background-color: #7D7D7D; }
  .formulario h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 200%; }

#titulo {
  text-align: start;
  font-size: 160%; }

main .infoQuienes {
  background-color: #7D7D7D; }
  main .infoQuienes h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    margin: 5%;
    text-align: center;
    padding: 0%;
    background-color: #7D7D7D; }
  main .infoQuienes h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    margin: 5%;
    text-align: center;
    padding: 0%;
    background-color: #7D7D7D; }
  main .infoQuienes p {
    font-family: lato;
    font-size: 150%;
    margin: 5%;
    text-align: center;
    padding: 0%;
    background-color: #7D7D7D; }
  main .infoQuienes ul {
    font-family: lato;
    font-size: 120%;
    text-align: center;
    list-style: none; }

.nuestrosClientes {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 200%;
  background-color: #b9b7b7; }

.clientes {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  font-size: 150%;
  background-color: #b9b7b7; }

p {
  font-size: 100%;
  width: 100%;
  background-color: #b9b7b7; }

.sobreNosotros {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 200%;
  text-align: center;
  background-color: #b9b7b7; }

.nuestrosServicios {
  background-color: #b9b7b7; }
  .nuestrosServicios h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    text-align: center; }
  .nuestrosServicios ul {
    font-family: lato;
    font-size: 120%;
    text-align: center;
    list-style: none; }

.productos {
  background-color: #b9b7b7; }
  .productos h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    text-align: center; }
  .productos h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    text-align: center; }
  .productos p {
    font-family: lato;
    font-size: 150%;
    text-align: center; }

.lab {
  background-color: #b9b7b7; }
  .lab h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    text-align: center; }
  .lab h4 {
    font-family: lato;
    font-size: 170%;
    text-align: center; }
  .lab p {
    font-family: lato;
    font-size: 120%;
    text-align: center; }

.proyectosRealizados {
  background-color: #b9b7b7; }
  .proyectosRealizados h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 220%;
    text-align: center; }
  .proyectosRealizados p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 170%; }

header nav {
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  font-size: 100%;
  z-index: 1000;
  text-align: center;
  background-color: #7D7D7D; }
  header nav ul li {
    display: inline-block; }
  header nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px; }
  header nav a:hover {
    background-color: #FBCF00;
    color: black; }
  header nav #menu {
    background-color: #7D7D7D; }
  header nav .redesSociales {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-align: center;
    width: 5%;
    height: 50%; }

footer {
  background-color: #7D7D7D; }
  footer .mapa {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 200%; }
  footer .direccion {
    font-family: lato;
    text-align: center;
    font-size: 120%;
    list-style: none; }

@media only screen and (max-width: 768px) {
  .clientes {
    width: 20%;
    display: none; } }

@media only screen and (max-width: 380px) {
  .img-responsive {
    width: 5%; } }

@media only screen and (max-widht: 380px) {
  .fotos-responsive {
    width: 40%; } }
