* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 160%;
    margin-right: 400px;
    text-align: start;
}
nav {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #7D7D7D;
}

nav ul li {
    display: inline-block;
}
nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.infoQuienes {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 5%;
    text-align: center;
    padding: 0%;
}
section h1 {
    color: #FBCF00;
}
section {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #7D7D7D;
}
section ul li {
    display: inline-block;
    padding: 3%;
    color: black;
}

.textoUbicacion {
    width: 100%;
}

footer {
    background-color: #7D7D7D ;
    background-size: cover;
}
footer iframe {
    background-size: cover;
    width: 100%;
}
footer h1 {
    text-align: center;
    color: #FBCF00;
    font-family: 'Source Sans Pro', sans-serif;
}
footer ul li{
    list-style: none;
    padding: 1.5%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.colormenu
{
    color: black;
}
p
{
    color: #7D7D7D;
}
label
{
    color: black;
}
tr 
{
    color: black;
    background-color: #7D7D7D;
}
th 
{
    color:#FBCF00;
}
Ol
{
    list-style-type: none;
}

.imagenInstitucional {
    width: 50%;
    height: 50%;
    text-align: center;
}

.imagenContacto {
    background: url(../ProyectoRuiz/img/Contacto/imagenContacto.jpg);
    width: 100%;
    background-size: cover;
    min-height: 100vh;
}

li a:hover {
    background-color:#FBCF00;
    color: black; 
    width: 2%;   
}

.imagenInstitucional {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-content: center;
}

.redesSociales {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-align: center;
}

.tablaHormigon {
    display: flex;
    justify-content: flex-end;
}

.textoCuthill {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 5%;
    text-align: center;
    grid-area: cuthill;
    align-self: center;
}

.textoPlantaSilos {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 5%;
    text-align: center;
    grid-area: silos;
    align-self: center;
}

.textoProcrear {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 5%;
    text-align: center;
    grid-area: procrear;
    align-self: center;
}

.textoSur {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 5%;
    text-align: center;
    grid-area: sur;
    align-self: center;
}

.textoBanco {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 5%;
    text-align: center;
    grid-area: banco;
    align-self: center;
}

.proyectosRealizados {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-align:left;
}

.grilla {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 82%  10% ;
    grid-template-areas: "nav"
                         "main"
                         "footer";
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
.row {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}