#contacto {
    h3 {
        font-family:'Source Sans Pro', sans-serif;
        text-align: center;
        font-size: 200%;
    }
    .redesSociales {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        text-align: center;
        width: 5%;
        height: 50%;
    }
    h2 {
        font-family: lato;
        text-align: center;
        font-size: 200%;
    }
}

.formulario {
    h2 {
        font-family:'Source Sans Pro', sans-serif;
        text-align: center;
        font-size: 200%;
    }
    background-color: #7D7D7D
}
