.sobreNosotros {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    text-align: center;
    background-color: #b9b7b7;
}

.nuestrosServicios {
    background-color: #b9b7b7; 
        h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 200%;
        text-align: center;
        }
        ul {
        font-family: lato;
        font-size: 120%;
        text-align: center;
        list-style: none;
        }
}
