.productos {
    background-color: #b9b7b7;
    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 200%;
        text-align: center;
    }
    h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%; 
    text-align: center;
    }
     p {
        font-family: lato;
        font-size: 150%;
        text-align: center;
     }
}

.lab {
    background-color: #b9b7b7;
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 200%;
        text-align: center;
        }
    h4 {
        font-family: lato;
        font-size: 170%;
        text-align: center;
    }
        p {
            font-family: lato;
            font-size: 120%;
            text-align: center;
         }
}