header {
    nav {
        list-style: none;
        font-family: 'Source Sans Pro', sans-serif;
        width: 100%;
        font-size: 100%;
        z-index: 1000;
        text-align: center;
        background-color: #7D7D7D;
            ul li {
                display: inline-block;}
                a {
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                a:hover {
                    background-color: #FBCF00;
                    color: black;
                }
            #menu {
                background-color:#7D7D7D;
            }

            .redesSociales {
                text-decoration: none;
                color: black;
                font-size: 2rem;
                text-align: center;
                width: 5%;
                height: 50%;
            }
    } 
}

#titulo {
    text-align: start;
    font-size: 160%;
}

main {
    .infoQuienes {
        h1 {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 200%;
            margin: 5%;
            text-align: center;
            padding: 0%;
            background-color: #7D7D7D;
        }
        h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 200%;
        margin: 5%;
        text-align: center;
        padding: 0%;
        background-color: #7D7D7D;
        }
         p {
            font-family: lato;
            font-size: 150%;
            margin: 5%;
            text-align: center;
            padding: 0%;
            background-color: #7D7D7D;
         }
        background-color: #7D7D7D;
        }
        ul {
            font-family: lato;
            font-size: 120%;
            text-align: center;
            list-style: none;

        }
    }
    .nuestrosClientes {
            font-family:'Source Sans Pro', sans-serif;
            text-align: center;
            font-size: 200%;
    }
    .clientes {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        height: 100%;
        font-size: 150%;
        p {
            font-size: 100%;
            width: 100%; }
    }

.sobreNosotros {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    text-align: center;
    background-color: #b9b7b7;
}

.proyectosRealizados {
    background-color: #b9b7b7;
    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 200%;
        text-align: center; }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 100%; }
    }

#contacto {
    h3 {
        font-family:'Source Sans Pro', sans-serif;
        text-align: center;
        font-size: 200%;
    }
    .redesSociales {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        text-align: center;
        width: 5%;
        height: 50%;
    }
    h2 {
        font-family: lato;
        text-align: center;
        font-size: 200%;
    }
}

.formulario {
    h2 {
        font-family:'Source Sans Pro', sans-serif;
        text-align: center;
        font-size: 200%;
    }
    background-color: #7D7D7D
}


@media only screen and (max-width: 768px) {
    .clientes {
      width: 20%;
      display: none; } }
  
@media only screen and (max-width: 380px) {
    .img-responsive {
        width: 5%;
    }
}

@media only screen and (max-widht: 380px) {
    .fotos-responsive {
        width: 40%;
    }
}

.tituloOriginal {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    background-color: gray;
}

footer {
    background-color: #7D7D7D;
    .mapa {
    font-family:'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 200%;
    }
    .direccion {
        font-family: lato;
        text-align: center;
        font-size: 120%;
        list-style: none;
    }
}
